@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello to Movie Shopster, here you can buy the best movies, for the best prices.</p>
<p>Like a movie? Click Details and buy 10 copies!</p>
<p>Made with Visual Studio</p>
